.container {
    --light_blue: #86FAF2;
    --dark_blue: rgb(18, 7, 102);
    --dark_purp: rgb(46, 3, 64);
    --pale_blue: rgb(148, 184, 255);
    --dark_teal: #00A6D7;
    --blue: #0058B3;
    --teal: #30E7ED;

    /*-----Dark Mode Colors----- */

    --grey_blue: #73849c;
    --dark_greyBlue: #314c64;
    --greenish_blue: #29424d;
    --light_grey: #8e9cab;
    --dark_greenGray: #24333a;

    background-color: var(--light_blue);
    color: white;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.hide_notes {
    display: none;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 6fr 1fr;
    height: 100vh;
    grid-template-areas: "header"
                         "sidebar"
                         "content"
                         "footer";
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: var(--blue);
    border-radius: 10px;
    border: 2px solid var(--teal);
    margin-bottom: 1px;
}

.sidebar {
    background-color: var(--blue);
    grid-area: sidebar;
    margin: 2px;
    /* border: 2px solid var(--teal); */
    border-radius: 10px;
    overflow: None;
}

.sidebar ul {
    display: flex;
    justify-content: center;
}
.sidebar li {
    display: inline;
    padding: 0px;
}

.sidebar h2 {
    display: flex;
    justify-content: center;
}

.main {
    grid-area: content;
    background-color: var(--dark_teal);
    margin: 2px;
    border-radius: 10px;
}

.top_buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.text_box {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 10px;
}

.main-text {
    width: 85%;
    height:50%;
    background-color: black;
    border: 1px solid var(--teal);
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
}

.bottom_buttons {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    color: white;
    background-color: black;
    font-size: 10px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 3px;
    border: 0;
    margin: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--dark_blue);
    color: black;
}

.footer {
    align-items: center;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue);
    border-top: 2px solid var(--teal);
    border-radius: 10px;
    margin: 2px;
}

.footer * {
    margin: 1px;
}

.noteList .button {
    max-width: 10ch;
    word-wrap: break-word;
}

.note_error {
    display: inline;
    color: red;
}

.note_exists {
    display: none;
}

/*------------Desktop View----------------*/

@media screen and (min-width: 550px) {
    .content {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 1fr 2fr 1fr;
        height: 100vh;
        grid-template-areas: 
        "sidebar header"
        "sidebar content"
        "sidebar footer";
    }
    
    .sidebar ul {

        margin-top: 25%;
    }
    .sidebar h2 {

        display: flex;
        justify-content: center;
        
    }
}

/*----------- Dark Mode -----------------*/

.dark-body {
    background-color: var(--dark_greyBlue);
}

.dark-button {
    background-color: var(--light_grey);
    color: #455259;
}

.dark_side {
    background-color: var(--grey_blue);
}

.dark_text {
    background-color: var(--greenish_blue);
    color:black;
}

.dark_header {
    background-color: var(--dark_greyBlue);
    color: #455259;
}

.dark_footer {
    background-color: var(--dark_greyBlue);
}
.dark_main {
    background-color: var(--dark_greyBlue);
}